POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=flux_cookbook
POSTGRES_PORT=5432
POSTGRES_URL=postgres://postgres:postgres@postgres:5432/flux_cookbook

MONGO_PORT=27017
MONGO_URI=mongodb://mongodb:27017
MONGO_DATABASE=flux_cookbook
MONGO_USER_ID=665f1b8b0fd3f6d8a8f54a01

MONGO_TO_POSTGRES_SEED=true
MONGO_TO_POSTGRES_USER_NAME=Ada Lovelace
MONGO_TO_POSTGRES_USER_EMAIL=ada@example.com
MONGO_TO_POSTGRES_CONNECT_ATTEMPTS=30
